<% if @service.projects.any? %>
    <div id="work">
      <div id="gallery">
        <%= render @projects %>
      </div>
    </div>
<% end %>

<div id="work">
  <div id="gallery">
    <% @services.each do |service_1| %>
        <div class="item">
          <div>
            <% if  service_1.id == @current_id.id %>

            <% else %>
                <%= link_to "wiew service", service_path(service_1), :class => 'action show' %>
            <% end %>

          </div>
        </div>
    <% end %>
  </div>
</div>


