<!----------------------------part6/6----------------------------------------------------------------->

<div id="part6">
  <div id="part_area">
  <div id="contact">
    <div class="arrow"><%= image_tag("arrow_green.png", style: "width: 30px") %></div>
    <a id="p6"></a>
    <div id="contact_panel">
      <div id="left_pan">
        <h3>CONTACT</h3>
        <div class="text_mark"></div>
        <%= render 'form', :inquiry => @inquiry %>
        <br>
      </div>
      <div id="right_pan">
        <h3>CONTACT</h3>
        <div class="text_mark"></div>
        <ul>
          <li><a href="tel:+111111111111">+111111111111</a> </li>
          <li><a href="mailto:index_twok@twok.com">index_twok@twok.com</a> </li>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>
