<!----------------------------part5/6----------------------------------------------------------------->


<div id="part5">
  <div id="part_area">
    <div class="green_line">SAY HELLO <span style="color: #fdb53f;">& LET'S WORK TOGETHER</span></div>
  </div>
</div>