<div id="part4">
  <div id="work">
    <div class="arrow"><%= image_tag("arrow_top.png", style: "width: 30px") %></div>
    <div id="gallery">
      <% @projects.each do |project | %>
          <div class="item">
            <div>
              <%=  link_to(image_tag(project.image, class: "position-class position-class-#{project.position}"), project_path(project), :class => 'action show') %>
            </div>
          </div>
      <% end %>
  </div>
</div>
</div>