<!----------------------------part4/6----------------------------------------------------------------->

<div id="part4">
  <div id="part_area">
    <div id="work">
      <div class="arrow"><%= image_tag("arrow_top.png", style: "width: 30px") %></div>
      <a id="p4"></a>
      <div id="gallery">
        <% @projects.each do |project | %>
        <div class="item">
          <div>
            <a href="images/gallery/big/big.jpg" rel="shadowbox[Vacation]">
              <%= image_tag (project.image) %>
            </a>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
