<div id="part3">
  <div id="services">
    <div class="arrow"><%= image_tag("arrow_buttom.png", style: "width: 30px") %></div>
    <h2>OUR SERVICES</h2>
    <%= render 'show_services_form' %>
  </div>
</div>


