
  <div class="item">
    <div>
      <%= link_to(image_tag(project.image, class: "position-class position-class-#{project.position}"), {:controller => 'projects', :action => 'show', :id => project.id}, :class => 'action show') %>
    </div>
  </div>


