*{
  margin: 0;
  padding: 0;
  outline: none;
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
}

h2, h3{
  color: #ededed;
  padding: 35px 0 0 0;
}

p{
  color: #ededed;
}

body{
  background: #282828;
  font: 15px Arial, Tahoma, sans-serif;
}

/*------------------------------------------------------------------------------------------------------------------*/


/*---------wrapper-----------*/

#wrapper{
  width: 80%;
  background: #0e2532;
  margin: auto;
  overflow: hidden;
}

#part_area{
  width: 1200px;
  margin: auto;
}

/*------------------part1---------------------*/

#part1{
  background: #112e3f;
  overflow: hidden;
  /*border: 1px solid #fff;*/
}

#nav{
  margin: 50px 0 40px 0;
  /*border: 1px solid #fff;*/
  overflow: hidden;
}

#sec_nav{
  width: 80%;
  margin: 0 0 40px 0;
  /*border: 1px solid #fff;*/
  overflow: hidden;
  background: #fdb53f;
  display: none;
  position: fixed;
  z-index: 9999;
}

#main_nav_sec{
  /*border: 1px solid #fff;*/
  overflow: hidden;
  float: right;
  margin-right: 200px;
}

#main_nav_sec ul li{
  float: left;
  height: 40px;
  line-height: 40px;
}

#menu_nav_sec ul li a{
  padding: 0 6px;
  display: block;
  color: #af893f;
  font-weight: bold;
  font-size: 17px;
}

.nav_button_sec{
  margin: 3px 10px 0 15px;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.top_button_sec{
  margin: 3px 10px 0 15px;
  width: 35px;
  height: 35px;
  padding-right: 400px;
}

#menu_nav_sec ul li a:hover{
  color: #112e3f;
}

#main_nav{
  /*border: 1px solid #fff;*/
  overflow: hidden;
  float: right;
  margin-right: 200px;
}

#main_nav ul li{
  float: left;
  height: 60px;
  line-height: 60px;
}

#menu_nav ul li a{
  padding: 0 6px;
  display: block;
  color: #5f5a3f;
  font-weight: bold;
  font-size: 17px;
}

.nav_button{
  margin: 12px 10px 0 15px;
  width: 35px;
  height: 35px;
  cursor: pointer;
}


#menu_nav ul li a:hover{
  color: #fdb53f;
}


/*------------------------------------------------------------------------------------*/

#logo_gab{
  width: 1240px;
  margin: 0 auto;
  /*border: 1px solid #fff;*/
  position: relative;
}

.logo{
  margin: 70px auto;
  width: 800px;
  height: auto;
  /*border: 1px solid #fff;*/

}

.logo-bg img{
  position: absolute;
}

.logo img{
  width: 100%;
}

/*------------------------------------------------------------------------------------*/

#language{
  width: 100%;
  /*border: 1px solid #fff;*/
  overflow: hidden;
}

.lang_table{
  float: right;
  right: 50%;
  position: relative;
}

.lang_tab{
  float: left;
  left: 50%;
  position: relative;
}

.lang_tab li{
  height: 15px;
  /*border: 1px solid #fff;*/
  padding: 5px 7px;
  float: left;
  margin: 40px 0 30px 0;
  font-size: 13px;
  cursor: default;
  color: #fdb53f;
  font-weight: bold;
}

.lang_tab li a{
  color: #5f5a3f;
  /*line-height: 35px;*/
  display: block;
  font-weight: bold;
  font-size: 13px;
}

.lang_tab li a:hover{
  color: #fdb53f;
}

.lang_tab li a:active{
  color: #fdb53f;
}

/*----------------------------part 2------------------------------------------*/

#part2{
  background: #e94c3d;
  overflow: hidden;
  /*border: 1px solid #fff;*/
}

.arrow{
  text-align: center;
}

/*------------------------------------------------*/

#about{
  width: 950px;
  /*border: 1px solid #fff;*/
  margin: 20px auto;
  overflow: hidden;
}

#left_col{
  width: 60%;
  float: left;
}

#right_col{
  width: 35%;
  float: right;
}

.con_about{
  line-height: 1.7;
}

#team{
  width: 100%;
  /*border: 1px solid #ffffff;*/
}

/*----------------------------------------------------------------------------------------*/
.team_left_side{
  width: 50%;
  float: left;
}

.team_right_side{
  width: 50%;
  float: right;
  position: relative;
}

.katerina, .nikita{
  /*border: 1px solid #ffffff;*/
  overflow: hidden;
}

.katerina img, .nikita img, .irina img, .julia img, .joinus img{
  width: 100%;
  display: block;
}

.irina, .julia, .joinus{
  /*border: 1px solid #ffffff;*/
  overflow: hidden;
}
/*----------------------------------------------------------------------------------------*/


.katerina, .nikita, .irina, .julia{
  overflow: hidden;
  position: relative;
}

.katerina img, .nikita img, .irina img, .julia img{
  position: relative;
}

.katerina span, .nikita span, .irina span, .julia span{
  display: none;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  position: absolute;
  text-align: center;
  text-decoration: none;
  z-index: 200;
  cursor: default;
}

.katerina span{
  margin: 220px 0 0 25px;
}

.nikita span, .irina span, .julia span{
  margin: 90px 0 0 25px;
}

.katerina span em, .nikita span em, .irina span em, .julia span em{
  display: block;
  font-size: 12px;
  font-weight: normal;
  color: #ffffff;
}

.team_bg{
  background-color: #e94c3d;
  opacity: 0.7;
}

.text_mark{
  background-color: #ededed;
  width: 60px;
  height: 3px;
  margin: 5px 0 35px 0;
}

/*----------------------------------------------------*/

.joinus{
  overflow: hidden;
}

.mask_join{
  overflow: hidden;
}

.joinus a img{
  position: absolute;
}


/*------------------------------part 3------------*/

#part3{
  background: #112e3f;
  overflow: hidden;
  /*border: 1px solid #fff;*/
}

#services{
  width: 950px;
  margin: 0 auto;
}

#headservicecontainer{
  overflow: hidden;
}

#headservicecontainer ul li{
  float: left;
  /*border: 1px solid #ffffff;*/
  width: 235px;
  height: 245px;
  cursor: pointer;
}

.your_image{
  text-align: center;
  padding-top: 200px;
}

.your_image:hover, .your_amusement:hover, .your_comfort:hover, .your_productivity:hover{
  background: url(image-path('serpic-active.png')) no-repeat top;
  color: #22a86c;
}

.lin_grad{
  background: linear-gradient(to top, #196553, transparent);
}

.service_active{
  background: url(image-path('serpic-sel.png')) no-repeat top;
  color: #fdb53f;
}

.service_normal{
  background: url(image-path('serpic-norm.png')) no-repeat top;
  color: #196553;
}

.your_amusement{
  text-align: center;
  padding-top: 200px;
}

.your_comfort{
  text-align: center;
  padding-top: 200px;
}

.your_productivity{
  text-align: center;
  padding-top: 200px;
}

.ser_cont_bord{
  width: 950px;
  margin: 30px auto;
  line-height: 1.7;
}

.your_amusement_cont{
  display: none;
}

.your_comfort_cont{
  display: none;
}

.your_productivity_cont{
  display: none;
}


/*------------------------------part 4------------------*/

#part4{
  background: #0e2532;
  overflow: hidden;
  /*border: 1px solid #fff;*/
}

#work{
  width: 950px;
  margin: 0 auto;
  /*border: 1px solid #fff;*/
}

#gallery{
  margin: 45px 0 30px 0;
  /*border: 1px solid #fff;*/
  overflow: hidden;
}

.item{
  width: 179px;
  padding: 5px;
  float: left;

}

.item img{
  width: 100%;
}

/*---------------------------part 5---------------------------*/

#part5{
  background: #196553;
  overflow: hidden;
  /*border: 1px solid #fff;*/
}

.green_line{
  height: 60px;
  text-align: center;
  line-height: 60px;
  color: #fff;
}

/*------------------------part 6------------------------------*/

#part6{
  background: #0e2532;
  overflow: hidden;
  /*border: 1px solid #fff;*/
}

#contact{
  border-bottom: 2px solid #112e3f;
  overflow: hidden;
}

#contact_panel{
  width: 800px;
  margin: 0 auto;
  /*border: 1px solid #fff;*/
  overflow: hidden;
}

#left_pan{
  width: 48%;
  float: left;
}

#right_pan{
  width: 48%;
  float: right;
}

#footer{
  width: 800px;
  height: 80px;
  line-height: 80px;
  margin: 0 auto;
}

#footer p{
  color: #134642;
}

#footer ul li a{
  float: left;
  padding: 0 5px;
  line-height: 80px;
}

.left_size{
  float: left;
  width: 45%;
  /*border: 1px solid #fff;*/
}

.right_size{
  float: right;
  width: 45%;
  /*border: 1px solid #fff;*/
}

.right_size ul li a{
  margin: 15px 0 0 15px;
}

.name {
  width: 360px;
  height: 30px;
  background: #112e3f;
  margin-bottom: 10px;
  border: none;
}

.leb_name{
  color: #196553;
  font-weight: bold;
}

.leb_name span{
  color: #000;
  font-weight: normal;
}

.email {
  width: 360px;
  height: 30px;
  background: #112e3f;
  margin-bottom: 10px;
  border: none;
}

textarea{
  resize: none;
}

.massage {
  width: 360px;
  height: 180px;
  background: #112e3f;
  margin-bottom: 10px;
  border: none;
  font-size: 15px;
}

.input_upload, .input_send{
  margin-bottom: 30px;
}

.input_upload{
  background: url(image-path('upload.png')) no-repeat center;
}

.input_upload:hover{
  box-shadow: inset 2px 2px 5px;
}


.input_send{
  background: url(image-path('send.png')) no-repeat center;
}

.input_send:hover{
  box-shadow: inset 2px 2px 5px;
}


/*-----------------------------------------Shadowbox-----------------------------------------------------*/

#sb-title-inner,#sb-info-inner,#sb-loading-inner,div.sb-message{font-family:"HelveticaNeue-Light","Helvetica Neue",Helvetica,Arial,sans-serif;font-weight:200;color:#fff;}
#sb-container{position:fixed;margin:0;padding:0;top:0;left:0;z-index:999;text-align:left;visibility:hidden;display:none;}
#sb-overlay{position:relative;height:100%;width:100%;}
#sb-wrapper{position:absolute;visibility:hidden;width:100px;}
#sb-wrapper-inner{position:relative;border:1px solid #303030;overflow:hidden;height:100px;}
#sb-body{position:relative;height:100%;}
#sb-body-inner{position:absolute;height:100%;width:100%;}
#sb-player.html{height:100%;overflow:auto;}
#sb-body img{border:none;}
#sb-loading{position:relative;height:100%;}
#sb-loading-inner{position:absolute;font-size:14px;line-height:24px;height:24px;top:50%;margin-top:-12px;width:100%;text-align:center;}
#sb-loading-inner span{background:url(../images/loading.gif) no-repeat;padding-left:34px;display:inline-block;}
#sb-body,#sb-loading{background-color:#060606;}
#sb-title,#sb-info{position:relative;margin:0;padding:0;overflow:hidden;}
#sb-title,#sb-title-inner{height:26px;line-height:26px;}
#sb-title-inner{font-size:16px;}
#sb-info,#sb-info-inner{height:20px;line-height:20px;}
#sb-info-inner{font-size:12px;}
#sb-nav{float:right;height:16px;padding:2px 0;width:45%;}
#sb-nav a{display:block;float:right;height:16px;width:16px;margin-left:3px;cursor:pointer;background-repeat:no-repeat;}
#sb-nav-close{background-image:url(image-path('close.png')) ;}
#sb-nav-next{background-image:url(image-path('next.png')) ;}
#sb-nav-previous{background-image:url(image-path('previous.png')) ;}
#sb-nav-play{background-image:url(image-path('play.png'));}
#sb-nav-pause{background-image:url(image-path('pause.png')) ;}
#sb-counter{float:left;width:45%;}
#sb-counter a{padding:0 4px 0 0;text-decoration:none;cursor:pointer;color:#fff;}
#sb-counter a.sb-counter-current{text-decoration:underline;}
div.sb-message{font-size:12px;padding:10px;text-align:center;}
div.sb-message a:link,div.sb-message a:visited{color:#fff;text-decoration:underline;}