<div id="footer">
  <div class="left_size">
    <p>TWOK LLC © 2014 <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %></p>

  </div>
  <div class="right_size">
    <ul>

      <li><a href="#"><img src="/images/facebook-norm.png" onmouseover="this .src='/images/facebook-sel.png'; this .width=40; this .height=40" onmouseout="this .src='/images/facebook-norm.png'; this .width=40; this .height=40" height="40" width="40"></a> </li>
      <li><a href="#"><img src="/images/facebook-norm.png" onmouseover="this .src='/images/facebook-sel.png'; this .width=40; this .height=40" onmouseout="this .src='/images/facebook-norm.png'; this .width=40; this .height=40" height="40" width="40"></a> </li>
      <li><a href="#"><img src="/images/facebook-norm.png" onmouseover="this .src='/images/facebook-sel.png'; this .width=40; this .height=40" onmouseout="this .src='/images/facebook-norm.png'; this .width=40; this .height=40" height="40" width="40"></a> </li>
      <li><a href="#"><img src="/images/facebook-norm.png" onmouseover="this .src='/images/facebook-sel.png'; this .width=40; this .height=40" onmouseout="this .src='/images/facebook-norm.png'; this .width=40; this .height=40" height="40" width="40"></a> </li>
    </ul>
  </div>
</div>